.footerh{
  font-size:20px; 
  color: rgb(87, 88, 110);
  font-weight: 500;
}
.footers{
  font-size: 15px;
  color: #575870;
  text-decoration: none;
  padding-top: 8px;
  font-weight: 700;
  padding-bottom: 2px solid black;
}

.footers:hover{
  color: #027580;
}
